<h2>Sign Up Form</h2>
<form ng-controller="signUpCtrl as user" ng-submit="user.signUp()" novalidate>
  <div class="form-group">
    <label for="inputEmail">Email Address</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" ng-model="user.credentials.email">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.credentials.password">
  </div> 
  <div class="form-group">
    <label for="inputPasswordConfirmation">Password Confirmation</label>
    <input type="password" class="form-control" id="inputConfirmation" placeholder="Password Confirmation" ng-model="user.credentials.password_confirmation">
  </div>
  <input type="submit" class="btn btn-default" value="Sign Up" />
</form>
<br>